<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{common.title}} - {{page.name}}</title>
</head>

<body>
    <div class="container">

        <header></header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">{{common.title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-burger-btn">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-burger-btn">
                <ul class="navbar-nav mr-auto">
                    {{#each common.pages}}
                    <li class="nav-item {{this.active}}">
                        <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </nav>

        <nav>
            <ol class="breadcrumb navbar-righ">
                <i class="far fa-building pt-1"></i>
                {{#each common.breadcrumb}}
                <li class="breadcrumb-item {{this.active}} {{#if @first}}ml-auto{{/if}}">
                    {{#unless this.active}}
                        <a href="{{this.link}}">
                    {{/unless}}

                    {{this.title}}
                    
                    {{#unless this.active}}
                        </a>
                    {{/unless}}
                </li>
                {{/each}}
            </ol>
        </nav>

        <section>
            <h1 class="py-1">
                <p>{{page.name}}</p>
            </h1>
            <article class="">
                <div class="row">
                    <div class="col">
                        Hi.
                    </div>
                </div>
            </article>
        </section>

        <aside></aside>

        <footer class="footer">{{app.footer}}</footer>
    </div>

</body>

</html>