<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{common.title}} - {{page.name}}</title>
</head>

<body>
    <div class="container-fluid">

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="./index.html">
                    <i class="far fa-calendar-alt"></i> {{common.title}}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-burger-btn">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="nav-burger-btn">
                    <ul class="navbar-nav mr-auto">
                        {{#each common.pages}}
                        <li class="nav-item {{this.active}}">
                            <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </nav>

            <nav>
                <ol class="breadcrumb navbar-righ">
                    {{#each common.breadcrumb}}
                    <li class="breadcrumb-item {{this.active}} {{#if @first}}ml-auto{{/if}}">
                        {{#unless this.active}}
                        <a href="{{this.link}}">
                            {{/unless}} {{this.title}} {{#unless this.active}}
                        </a>
                        {{/unless}}
                    </li>
                    {{/each}}
                </ol>
            </nav>
        </header>

        <section>
            <form class="form-inline">
                <h1 class="pt-2">
                    <i class="fas fa-gopuram"></i> {{page.name}}
                </h1>

                <div class="input-group ml-auto">
                    <input type="text" class="form-control" placeholder="Seach buildings">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search pt-1"></i>
                        </button>
                    </div>
                </div>
            </form>
            <article class="pt-2 pt-sm-0">
                {{#grouped_each 4 page.content}}
                <div class="row pb-3">
                    {{#each this}}
                    <div class="col-md-6 col-sm-6 col-lg-3 pb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{this.section}}</h6>
                                <div class="media">
                                    <aside>
                                        <p class="pt-2 text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent dapibus. Curabitur
                                            ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Integer lacinia.
                                        </p>
                                    </aside>
                                </div>
                                <a href="./rooms.html" class="card-link">See rooms</a>
                                <a href="./schedule.html" class="card-link">See schedule</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/grouped_each}}
                <div class="row pl-3 mb-3">
                    <a href="#">See 5 more buildings</a>
                </div>
            </article>
        </section>

        <footer class="footer">{{common.footer}}</footer>
    </div>

</body>

</html>